# Python Einführung
## Bascis
Das ist eine Markdown-Zelle für Kommentare

In [1]:
print ("Hello world")

Hello world

## Kommentare

In [2]:
# Das ist ein Kommentar
print("Hello world!")

Hello world!

## einfache Datentypen

In [ ]:
# Varaiblen und Wertezuweisung (Value-Assignment)
# String = Zeichenkette
name  = "Hawking"
print(name)

In [4]:
# Integer - Ganzzahl
age = 73
print(age)

73

In [5]:
# float - Gleitkommazahl
size = 1.7123
print(size)

1.7123

In [6]:
# Bolean - Boolscher Wert
is_scientist = True
print(is_scientist)

True

In [7]:
type(name)

str

In [8]:
type(age)

int

In [9]:
print(name)
print(age)

Hawking
73

## Opteratoren

In [10]:
5 + 5

10

In [11]:
age + 100

173

In [12]:
name * 10

'HawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawking'

In [13]:
name + 10

TypeError: can only concatenate str (not "int") to str

In [14]:
name + "10"

'Hawking10'

In [15]:
size/age

0.023456164383561642

In [16]:
number_of_articles = "50"

In [17]:
number_of_articles / 10

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [18]:
int(number_of_articles)/10

5.0

In [19]:
typ(number_of_articles)

NameError: name 'typ' is not defined

In [20]:
type(number_of_articles)

str

In [21]:
%who

age	 is_scientist	 name	 number_of_articles	 size

In [25]:
Zahl = "10"

In [27]:
Zahl = int(Zahl)

In [29]:
Ganzzahl = int(Zahl)

## Funktionen und Methoden

In [30]:
len(name)

7

In [31]:
name.upper()

'HAWKING'

In [32]:
name = name.upper()
print(name)

HAWKING

In [33]:
name.replace("W","BLAAAA")

'HABLAAAAKING'

In [34]:
first_name = Anna

NameError: name 'Anna' is not defined

In [35]:
first_name = "Anna"

In [36]:
first_name.count("A")

1

In [37]:
first_name + " " name

SyntaxError: invalid syntax (<ipython-input-37-07cdc2e2f50b>, line 1)

In [38]:
first-name + " " + Name

NameError: name 'first' is not defined

In [39]:
first_name + " " + Name

NameError: name 'Name' is not defined

In [40]:
first_name + " " + name

'Anna HAWKING'

## Listen und Dictionaries

In [42]:
names = ["Darwin","Hawking","Curie"]

In [43]:
names[1]

'Hawking'

In [45]:
names[0]

'Darwin'

In [46]:
len(names)

3

In [47]:
names[-1]

'Curie'

In [48]:
names[0:2]

['Darwin', 'Hawking']

In [52]:
slice_value = 2

In [53]:
names[slice_value]

'Curie'

In [54]:
names[1:]

['Hawking', 'Curie']

In [55]:
names[:slice_value]

['Darwin', 'Hawking']

In [56]:
names[slice_value:]

['Curie']

In [58]:
# Dictionary
authors_and_ages = {"Darwin": 73,
                    "Goethe": 83, 
                    "Loveclace": 37}

In [59]:
authors_and_ages["Darwin"]

73

In [61]:
names.append("Kleist")

In [62]:
names

['Darwin', 'Hawking', 'Curie', 'Kleist']

In [63]:
authors_and_ages["Rowling"] = 53

In [64]:
authors_and_ages

{'Darwin': 73, 'Goethe': 83, 'Loveclace': 37, 'Rowling': 53}

# for-Schleife

In [65]:
for name in names:
    print(name)

Darwin
Hawking
Curie
Kleist

In [68]:
for name in names:
    print(name + " is a great name")
    print("he")
print("ho")

Darwin is a great name
he
Hawking is a great name
he
Curie is a great name
he
Kleist is a great name
he
ho

# Bedingte Anweisungen (Conditionals)

In [72]:
temp = 20
if temp > 15:
    print("it's warm")

it's warm

In [71]:
20 > 15

True

In [76]:
temp = 15
if temp >= 15:
    print("it's warm")
else: 
    print("it's cold")

it's warm

In [79]:
temp = 15
if temp >= 25:
    print("it's hot")
elif temp >= 15:
    print("it's warm")
else: 
    print("it's cold")

it's warm